.mapAndWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.locationSearch {
  width: 75vw;
  position: relative;
}
.locationInput {
  top: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.searchIcon {
  position: absolute;
  top: 30%;
  left: min(10px, 23%);
}
.mapData {
  margin-right: 100px;
}
@media screen and (max-width: 400px) {
  .searchIcon {
    display: none;
  }
}
.location {
  display: flex;
  justify-content: space-around;
}
.coordinates {
  display: flex;
}
.coordsLabel {
  font-size: calc(10px + 1vw);
}
.weatherReport {
  text-align: center;
}
.weeklyReport {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  margin-left: 1vw;
  margin-right: 1vw;
}
.card {
  border: none !important;
  flex-basis: max(11%, 13rem);
  color: white;
}
.card.BrokenClouds {
  background: linear-gradient(
    rgb(115, 115, 115),
    rgb(175, 175, 175)
  )!important;
}
.card.ClearSky {
  background: linear-gradient(
    to top,
    rgb(147, 204, 255) 50%,
    rgb(255, 238, 7) 115%
  ) !important;
}
.card.FewClouds {
  background: linear-gradient(
    to top,
    rgb(115, 115, 115) 5%,
    rgb(147, 204, 255) 95%
  ) !important;
}
.card.OvercastClouds {
  background-color: rgb(115, 115, 115) !important;
}
.card.ScatteredClouds {
  color: rgb(0, 0, 0);
  background: linear-gradient(
    to top,
    rgb(211, 211, 211) 5%,
    rgb(147, 204, 255) 95%
  ) !important;
}
.card.LightRain {
  background: linear-gradient(
    to bottom,
    rgb(115, 115, 115),
    rgb(48, 131, 255) 200%
  ) !important;
}
.card.ModerateRain {
  background: linear-gradient(
    to bottom,
    rgb(115, 115, 115),
    rgb(48, 131, 255) 100%
  ) !important;
}
.card.HeavyIntensityRain {
  background: linear-gradient(
    to bottom,
    rgb(115, 115, 115),
    rgb(28, 81, 255) 100%
  ) !important;
}
.mainWeather {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-text.description{
  font-size: 1.5rem;
}
.weatherIcon {
  margin-bottom: 5px;
  margin-right: 5px;
}
.rainIcon {
  margin-right: 0px !important;
}
.snowIcon {
  margin-right: 0px !important;
}