.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.mapDiv {
  flex-direction: row;
  width: fit-content;
  gap: 20px;
}
.mapData {
  margin-right: 100px;
}
.locationSearch {
  position: relative;
}
.locationInput {
  top: 15%;
  width: 100% !important;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.searchIcon {
  position: absolute;
  top: 30%;
  left: min(10px, 23%);
}
@media screen and (max-width: 400px) {
  .searchIcon {
    display: none;
  }
}
.location {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.coordinates {
  display: flex;
}
.coordsLabel {
  font-size: calc(10px + 1vw);
}
.latitude {
  left: 0;
}
.longitude {
  right: 0;
}
.weatherReport {
  text-align: center;
}
