.card {
  /* border: none !important; */
  border-color: black !important;
  color : white;
}
.card.todaysCard{
  margin-left: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 450px;
  width: 45vw;
  min-width: 515px;
  /* flex-basis: .75; */
}
@media screen and (max-width: 1031px) {
  .card.todaysCard {
    width: 90vw;
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .card.todaysCard {
    min-width: 300px;
  }
}
@media screen and (max-width: 420px) {
  .card.todaysCard {
    min-width: 75vw;
  }
}
.dailyCard {
  flex-basis: max(13%, 15rem);
}
.card.ClearSky {
  background-image: radial-gradient(
    circle at top right,
    rgb(255, 255, 255) 0%,
    rgb(255, 235, 83) 5%,
    rgb(140, 251, 255) 15%,
    rgb(63, 204, 255) 50%
    ) !important;
}
.card.FewClouds {
  color: rgb(0, 0, 0);
  background: linear-gradient(
    to top,
    rgb(211, 211, 211) 5%,
    rgb(147, 204, 255) 95%
    ) !important;
  }
  .card.ScatteredClouds {
  background: linear-gradient(
    to top,
    rgb(115, 115, 115) 5%,
    rgb(147, 204, 255) 95%
    ) !important;
  }
  .card.BrokenClouds {
    background: linear-gradient(
      rgb(115, 115, 115),
      rgb(175, 175, 175)
    )!important;
  }
.card.OvercastClouds {
  background: linear-gradient(
      rgb(90, 90, 90),
      rgb(84, 84, 84)
    )!important;
}
.card.LightRain {
  background: linear-gradient(
    to bottom,
    rgb(115, 115, 115),
    rgb(48, 131, 255) 200%
  ) !important;
}
.card.ModerateRain {
  background: linear-gradient(
    to bottom,
    rgb(115, 115, 115),
    rgb(48, 131, 255) 100%
  ) !important;
}
.card.HeavyRain {
  background: linear-gradient(
    to bottom,
    rgb(115, 115, 115),
    rgb(28, 81, 255) 100%
  ) !important;
}
.card.RainandSnow {
  color:black;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 25%,
    rgb(28, 81, 255) 150%
  ) !important;
}
.card.LightSnow {
  color: black;
  background: linear-gradient(
    to bottom,
    rgb(157, 157, 157),
    rgb(255, 255, 255)
  ) !important;
}
.card.Snow {
  color: black;
  background: linear-gradient(
    to bottom,
    rgb(195, 195, 195),
    rgb(255, 255, 255)
  ) !important;
}
.card.HeavySnow {
  color: black;
  background: linear-gradient(
    to bottom,
    rgb(230, 230, 230),
    rgb(255, 255, 255)
  ) !important;
}
.card-text.description{
  font-size: 1.5rem;
}
.weatherIcon {
  margin-bottom: 5px;
  margin-right: 5px;
}
.rainIcon {
  margin-right: 0px !important;
}
.snowIcon {
  margin-right: 0px !important;
}